<div class="flex justify-between py-4 items-center pl-[40px] pr-10">
  <span  *ngIf="layoutTitle === 'courseDetail'" class="underline text-lg cursor-pointer text-blue-logo font-bold" (click)="back()"><i class="fa-solid fa-angle-left"></i>Back</span>
  <div class="flex-none font-kohinoor-bangla text-blue-logo text-[40px]">
    CourseMania
  </div>
  <ng-container *ngIf="layoutTitle !== 'courseDetail'">
    <div class="px-4 ">
      <nav class="font-inter font-bold flex justify-between gap-3">
        <a routerLink="/course/list">Home</a>
        <a routerLink="/">About</a>
        <a routerLink="/" class="whitespace-nowrap">Course <i class="fa-solid fa-chevron-down"></i></a>
        <a routerLink="/">Tutors</a>
        <a routerLink="/">Contact</a>
      </nav>
    </div>
  </ng-container>
  <div class="flex justify-between gap-9 font-bold text-dark-blue items-center">
    <div *ngIf="!checkLogin" class="font-inter underline cursor-pointer" (click)="openLogin()">Login</div>
    <div *ngIf="checkLogin" class="font-inter underline cursor-pointer" (click)="signOut()">Logout</div>
    <button class="btn">Register</button>
    <i class="fa-solid fa-cart-shopping text-[27px]"></i>
  </div>
</div>
