<div class="flex justify-between py-4 items-center pl-[2.5rem] pr-10">
  <span class="underline text-lg text-blue-logo font-bold"><i class="fa-solid fa-angle-left"></i>Back</span>
  <ng-container *ngIf="false">
    <div class="flex-none font-kohinoor-bangla text-blue-logo text-[2.5rem]">
      CourseMania
    </div>
    <div class="px-4 ">
      <nav class="font-inter font-bold flex justify-between gap-3">
        <a routerLink="/course/list">Home</a>
        <a routerLink="/">About</a>
        <a routerLink="/" class="whitespace-nowrap">Course <i class="fa-solid fa-chevron-down"></i></a>
        <a routerLink="/">Tutors</a>
        <a routerLink="/">Contact</a>
      </nav>
    </div>
</ng-container>
  <div class="flex justify-between gap-9 font-bold text-dark-blue items-center">
    <div class="font-inter underline">Login</div>
    <button class="btn">Register</button>
    <i class="fa-solid fa-cart-shopping text-[27px]"></i>
  </div>
</div>
