<div class="flex justify-between py-4 items-center">
  <div class="flex-none font-kohinoor-bangla text-blue-logo text-[2.5rem] ml-[2.5rem]">
    CourseMania
  </div>
  <div class="px-4 ">
    <nav class="font-inter font-bold flex justify-between gap-3">
      <a routerLink="/">Home</a>
      <a routerLink="/">About</a>
      <a routerLink="/">Course <i class="fa-solid fa-chevron-down"></i></a>
      <a routerLink="/">Tutors</a>
      <a routerLink="/">Contact</a>
    </nav>
  </div>
  <div class="flex justify-between gap-9 font-bold text-dark-blue pr-10 items-center">
    <div class="font-inter underline">Login</div>
    <button class="font-inter py-2 px-7 rounded-lg bg-dark-blue text-white">Register</button>
    <i class="fa-solid fa-cart-shopping text-[27px]"></i>
  </div>
</div>
