 <div class=" inline-block shadow-lg bg-slate-100 text-center">
  <div class="relative">
    <div class="status px-[20px] absolute">{{courseItem.status}}</div>
    <img class="object-cover w-full h-[210px]" [src]="courseItem.img"/>
  </div>
  <div class="flex flex-col mt-4 pl-3 text-left">
    <div class="flex flex-row justify-between ">
      <div class="flex flex-col font-bold">
        <p class="text-lg text-bg-blue ">{{courseItem.name}}</p>
        <p class="text-base">Duration : {{courseItem.time}}</p>
      </div>
      <div class="text-center">
        <i class="fa-solid fa-circle-plus w-full text-[34px] text-bg-blue"></i>
        <span class="font-bold text-xs">Add</span>
      </div>
    </div>
    <span [ngClass]="{'text-slate-300 line-through': courseItem.price == '0','text-red-600': courseItem.price != '0'}"  class="font-bold">{{courseItem.price | currency}}</span>
    <img class="w-24 py-2" [src]="logo"/>
    <div class="flex items-center">
      <ngx-star-rating [(ngModel)]="courseItem.totalStar" [id]="'starItemCourse'" [disabled]="true"></ngx-star-rating>
      <small class="text-[12px] text-gray-500 italic">({{courseItem.totalReview}})</small>
    </div>
  </div>
  <button [ngClass]="{'btn-enroll': (buttonTitle === 'Enroll now')} " class="btn mb-5 mt-4">{{buttonTitle}}</button>
</div>
