<div class="text-white bg-bg-blue font-bold px-16 " *ngIf="layoutTitle !== 'courseDetail'">
  <div class="pt-10 flex  flex-row gap-12 text-sm font-inter leading-7 ">
    <div class="flex flex-col">
      <a>About us</a>
      <a>Contact us</a>
      <a>Contact us</a>
      <a>Careers</a>
      <a>Blog</a>
    </div>
    <div class="flex flex-col">
      <a>Udemy Business</a>
      <a>Teach on Udemy</a>
      <a>Get the app</a>
    </div>
    <div class="flex flex-col">
      <a>Help and Support</a>
      <a>Privacy policy</a>
    </div>
  </div>
  <div class="flex justify-end items-center pb-7">
    <a class="underline">Follow us: </a>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook-square"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-youtube"></i>
  </div>
</div>
