<div>
  <div class="aspect-ratio-box background">
    <div class="aspect-ratio-box-inside text-center">
      <div class="mx-auto inline-flex flex-col items-center">
        <app-search class="w-full"></app-search>
        <div class="pl-8 mt-12 text-left font-inter font-bold
                    text-2xl text-dark-blue w-3/4 ">
          Explore what professionals like you are learning the most
        </div>
        <button class="btn btn--course translate-x-14 mt-10">Visit Course</button>
      </div>
    </div>
  </div>

  <div class="flex justify-between px-28 gap-4 py-8 border-b-4 border-b-slate-200">
    <img src="/assets/img/udemy-logo.png" />
    <img src="/assets/img/academy-logo.png" />
    <img src="/assets/img/cloud-academy-logo.png" />
    <img src="/assets/img/coursera-logo.png" />
  </div>

  <app-section title="Popular courses" [courseList]="this.courseList">
    <span class="whitespace-nowrap ">Professional Courses <i class="fa-solid fa-chevron-down"></i> </span>
    <checkbox class="pl-8">Free Courses</checkbox>
    <checkbox class="pl-4">Piad Courses</checkbox>
    <span class="pl-6">Sort: Low To High <i class="fa-solid fa-chevron-down"></i></span>
  </app-section>

  <app-section title="Certifications Courses" [courseList]="this.courseList">
    <checkbox class="pl-8">Free Certifications</checkbox>
    <checkbox class="pl-4">Paid Certifications</checkbox>
    <span class="pl-6">Sort: Best Seller <i class="fa-solid fa-chevron-down"></i></span>
  </app-section>

  <div class="mx-28 mt-12">
    <span class="text-4xl">Instructed Course</span>
    <div class="flex justify-between mt-5 mb-12">
      <span class="text-gray-400 w-2/3">Want someone to instruct you? No worries, here we introduce our CourseMania’s
        online Tutors  to assist & guide you in your professional  Path</span>
      <button class="btn btn--find">Find A Tutor</button>
    </div>
    <span class=" text-blue-logo font-bold text-lg">Meet Our Popular Tutors</span>
    <div class="grid grid-cols-4 gap-3 mt-12 mb-36">
      <div *ngFor="let emp of listEmployee">
        <app-teacher-info [emp]="emp"></app-teacher-info>
      </div>
    </div>
  </div>
</div>
