<div class="rounded border-[1px] shadow-xl border-blue-logo flex flex-col max-w-full w-[340px] pl-5 pt-9">
  <span><i class="fa-regular fa-user"></i>&ensp;Creater: <span class="underline text-blue-logo">{{videoInfo.creater}}</span></span>
  <span><i class="fa-solid fa-arrow-up-from-bracket"></i>&ensp;Uploaded on: <span class="underline text-blue-logo">{{videoInfo.uploadDate}}</span></span>
  <span><i class="fa-regular fa-clock"></i>&ensp;Duration: <span class="underline text-blue-logo">{{videoInfo.duration}}</span></span>
  <span><i class="fa-solid fa-globe"></i>&ensp;Language: <span class="underline text-blue-logo">{{videoInfo.language}}</span></span>
  <div class="mt-5 flex justify-end"><span class="status px-[45px]">{{status}}</span></div>
</div>
