
<div class="pl-20 pr-24 bg-gray ml-20 mr-16 shadow-lg rounded-2xl" *ngIf="courseDetail">
  <h1 class="py-6 text-bg-blue font-bold text-4xl">{{courseDetail.name}}</h1>
  <app-video *ngIf="courseDetail?.videoInfo" [status]="courseDetail.status"
              [urlVideo]="courseDetail.video"
              [videoInfo]="courseDetail.videoInfo"></app-video>

  <div class=" mt-5 flex justify-between items-start">
    <app-card-detail-video [status]="courseDetail.status" [videoInfo]="courseDetail.videoInfo"></app-card-detail-video>
    <button class="btn text-3xl self-center">{{buttonTitle}}</button>
    <div class="flex items-center">
      <ngx-star-rating [ngModel]="courseDetail.totalStar" [id]="'rating'" [disabled]="true"></ngx-star-rating>
      <small class="text-[12px] text-gray-500 italic">({{courseDetail.totalReview}})</small>
    </div>
  </div>

  <div class="mt-5 ">
    <h4 class="underline text-3xl text-bg-blue font-bold">Details</h4>
    <p [ngClass]="{'collapsed': seeFull }" class="ml-10 mt-3 ">{{courseDetail.lessonContent.detail}}</p>
    <p (click)="seeFull = !seeFull" class="cursor-pointer ml-10 underline text-blue-logo font-bold">{{seeFull ? 'See More' : 'See Less'}}</p>
  </div>

  <div class="mt-5">
    <h4 class="text-3xl text-bg-blue font-bold mb-5">Lession</h4>
    <app-lessons *ngIf="lessonContent.lessons" [lessons]="lessonContent.lessons"></app-lessons>
  </div>

  <div>
    <h4 class="text-xl font-bold text-bg-blue underline pb-7">Write A Review </h4>
    <app-review class=" block -mr-14 ml-7 pb-10"></app-review>
  </div>
</div>
<div class="text-right"><img class="inline-block pt-9 pr-20 pb-9 object-contain" [src]="logo"></div>

