$white: white;
$gray-disable: #BDBDBD;
$red-danger: #EF4136;

$text-xl: 20px;
$text-m: 16px;
$text-s: 12px;


$item-radius: 4px;
$item-radius-m: 16px;

$p-sm: 4px;
$p-m: 12px;
$p-ml: 16px;
$p-l: 20px;

$w-avatar: 160px;
